@use '../scss/globals/' as *;
@use '../scss/util/breakpoints' as *;

.headerWrapper {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid white;
  z-index: 1;
  @include breakpoint-down('medium') {
    padding: 20px 0;
  }

  &.white {
    background-color: white;
    .navMenu {
      li {
        a {
          color: black;
        }
      }
    }

    button {
      color: #000;
    }
  }
  button {
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 32px;
    cursor: pointer;
  }
}
.mainNav {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 0 20px;
}

.navMenu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    a {
      color: white;
      font-size: 19px;
      font-weight: 500;
    }
  }
}

.menuitem {
  position: relative;
  padding: 0 20px;
  &:last-child {
    .dropdown_menu {
      right: 0;
    }
  }
  .item {
    padding: 40px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background: transparent;
      left: 0;
      bottom: -4px;
    }
    &.line {
      &::after {
        background: $primary;
      }
    }
  }

  .dropdown_menu {
    position: absolute;
    top: 100%;
    display: flex;
    padding-left: 0;
    width: 100%;
    flex-direction: row;
    white-space: nowrap;
    min-width: 510px;
    &::before {
      position: fixed;
      content: '';
      width: 100vw;
      height: 70px;
      background: #f4f4f4;
      z-index: -1;
      top: 104px;
      right: 0;
    }
    li {
      padding: 0 10px;
      a {
        padding: 25px 0;
        text-transform: capitalize;
        font-size: 17px;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
.menu_toggle,
.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}
